* {
  font-family: "Inconsolata Medium", monospace;
}

#entry:selected {
  background-color: rgba(28, 28, 28, 0.88);
  color: #ffffff;
}

#input {
  background-color: rgba(255, 255, 255, 0.84);
  color: #1c1c1c;
  border: none;
  border-radius: 0px;
}

#text {
  margin-left: 1em;
}

window {
  background-color: rgba(255, 255, 255, 0.84);
  color: #1c1c1c;
  border-radius: 0px;
}
